@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
html,
body,
#root {
  height: 100vh;
}
h1,
label,
h2,
form p,
p,
.normContentFormat > section > div > a {
  margin: 0%;
}
p,
h2,
h3,
h6,
table {
  font-family: "Courier New", Courier, monospace;
  color: #fff8da;
}
img {
  height: 20%;
}
a {
  display: inline;
  font-weight: 600;
  text-decoration: none;
}
a,
a:hover {
  color: #dae1ff;
}
td,
table {
  border-style: solid;
  border-color: #ffffdc;
}
form {
  justify-content: space-evenly;
}
form,
form div,
.normContentFormat,
.specContentFormat,
#projectRender,
.mediaQueryflex {
  display: flex;
  flex-direction: column;
}
input,
textarea,
button {
  border-radius: 5px;
  background-color: #ffffdc;
}
input,
textarea,
form p,
nav div,
.aboutlayout {
  width: 100%;
}
button,
img {
  width: 20%;
}
form div,
#home,
#projectRender {
  width: 90%;
}
nav div,
form,
#projectRender {
  height: 100%;
}
button {
  font-size: 70%;
  align-self: flex-end;
}
form div,
.normContentFormat > img,
.specContentFormat > img,
#home,
#projectRender,
label,
.mediaQueryflex {
  align-self: center;
}
nav {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1;
}
nav ul {
  border-radius: 0px 0px 30px 30px;
  list-style: none;
  display: flex;
  width: 70%;
  align-items: center;
  background: rgb(0, 0, 0);
  margin: 0rem 1rem 1rem 1rem;
  padding: 0%;
  box-shadow: 0px 3px 8px rgb(194, 194, 194);
}
nav li:first-child div {
  border-radius: 0px 0px 0px 30px;
}
nav li:last-child div {
  border-radius: 0px 0px 30px 0px;
}
nav img {
  max-width: 20%;
}
nav a,
#ExpandMenu {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
nav div {
  font-size: 110%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.804);
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
}
ul div:hover {
  opacity: 1;
}
.left {
  transform: rotate(90deg);
}
.right {
  transform: rotate(-90deg);
}
.normContentFormat,
.specContentFormat {
  text-align: center;
  justify-content: space-around;
  background: rgb(0, 0, 0);
  box-shadow: 0px 0px 10px rgb(194, 194, 194);
  border-radius: 10px;
  margin: 0% 6%;
  padding: 1%;
}
.normContentFormat > img,
.specContentFormat > img {
  display: flex;
  height: 30%;
  width: 70%;
}
.aboutlayout,
#projectRender > h2,
nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexCenter {
  display: flex;
  justify-self: center;
  align-items: center;
}
#root > div {
  min-height: 100vh;
  max-height: calc(fit-content + 4%);
  background: url("./images/universe_1920.jpg");
  background-size: cover;
  padding: 10% 0% 1% 0%;
}
#projectRender > h2,
#projectRender > div {
  flex: 1;
}
#projectRender a {
  font-style: italic;
}
/* CSS affected by media width */
h1 {
  font-size: 45%;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: rgb(0, 0, 0);
}
h6,
table {
  font-size: 70%;
}
label {
  display: flex;
  width: 40%;
}
.normContentFormat {
  height: 93vh;
}
.specContentFormat {
  min-height: 93vh;
  max-height: fit-content;
}
.specContentFormat > section > img {
  border-radius: 50%;
  border-style: solid;
  box-shadow: 0px 0px 15px rgb(194, 194, 194);
  width: 30%;
}
.mediaQueryflex {
  align-items: center;
  justify-content: space-between;
  height: 25%;
}
textarea {
  height: 125px;
}
h2 {
  font-size: 110%;
}
h3 {
  font-size: 60%;
}
form p {
  display: flex;
  font-size: 80%;
}
p,
.normContentFormat > section > div > a {
  font-size: 80%;
}
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 35%;
  }
  h6,
  table {
    font-size: 75%;
  }
  label {
    width: 20%;
  }
  .normContentFormat {
    height: 92vh;
  }
  .specContentFormat {
    min-height: 92vh;
  }
  .flexCenter img {
    height: 40%;
  }
  .specContentFormat > section > img {
    width: 35%;
  }
  textarea {
    height: 250px;
  }
  h2 {
    font-size: 190%;
  }
  h3 {
    font-size: 160%;
  }
  form p {
    font-size: 110%;
  }
  p,
  .normContentFormat > section > div > a {
    font-size: 110%;
  }
  #home {
    flex-direction: row;
    justify-content: space-around;
  }
  #ExpandMenu {
    display: none;
  }
  nav li:nth-last-child(2) div {
    border-radius: 0px 0px 30px 0px;
  }
  nav a,
  #ExpandMenu {
    justify-content: center;
  }
  #root > div {
    padding: 4% 0% 1% 0%;
  }
}
@media only screen and (min-width: 900px) {
  h1 {
    font-size: 55%;
  }
  h6,
  table {
    font-size: 80%;
  }
  label {
    width: 15%;
  }
  .normContentFormat {
    height: 90vh;
  }
  .specContentFormat {
    min-height: 90vh;
  }
  .flexCenter img {
    height: 60%;
  }
  .specContentFormat > section > img {
    width: 25%;
  }
  .specContentFormat > section {
    width: 90%;
  }
  .mediaQueryflex {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 75%;
  }
  h6,
  table {
    font-size: 100%;
  }
  label {
    width: 10%;
  }
  .normContentFormat {
    height: 88vh;
  }
  .specContentFormat {
    min-height: 88vh;
  }
  .flexCenter img {
    height: 80%;
  }
}
